#wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.card-male .card-female {
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 1px 5px 16px 1px #000000;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}
.card-male {
  background-color: rgb(53, 97, 155);
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 1px 5px 16px 1px #000000;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.card-female {
  background-color: rgb(231, 126, 231);
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 1px 5px 16px 1px #000000;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.card-male:hover {
  transform: scale(1.1);
}

.card-female:hover {
  transform: scale(1.1);
}

h2 {
  font-size: 2rem;
  color: white;
}

p {
  font-size: 1rem;
  color: white;
}

p .fas {
  padding-left: 10px;
}

p .far {
  padding-right: 10px;
}

img {
  width: 150px;
}
